#PRIMEIRA VEZ USANDO O JUPYTER

In [31]:
print("Meu primeiro código em python. Usando 2 aspas")
print('Meu primeiro código em python. Usando 1 aspa')
print('Os 2 jeitos funcionam')
print('Mas sem as aspas não funciona!')
print('Se colocar o print=também não vai funcionar!!')
print(123)
print('Com número também funciona')

Meu primeiro código em python. Usando 2 aspas
Meu primeiro código em python. Usando 1 aspa
Os 2 jeitos funcionam
Mas sem as aspas não funciona!
Se colocar o print=também não vai funcionar!!
123
Com número também funciona

In [32]:
print('1+1')
print('para operações que só contenham números as aspas não são necessárias')
print(1+1)
print(1-1)
print(7/2)
print(3*2)
print(3**2)
print(7%2)

1+1
para operações que só contenham números as aspas não são necessárias
2
0
3.5
6
9
1

In [33]:
print(10*2)
print(10/2)
print(10.0/2)
print(10/2.0)
print(10.0/2.0)

20
5.0
5.0
5.0
5.0

In [34]:
print(10/2)
print(10/0)

5.0

ZeroDivisionError: division by zero

In [ ]:
print(10*2+5)
print(10*(2+5))

In [ ]:
print('Daniel')
print('Candiotto')
print('Daniel'+'Candiotto')
print('Daniel', 'Candiotto')

In [ ]:
'D' in 'Daniel'

In [ ]:
'Da' in 'Daniel'

In [ ]:
'J' in 'Daniel'

In [ ]:
'd' in 'Daniel'

In [ ]:
nota1=10
nota2=9.5
nota3=9
media_geral=((nota1+nota2+nota3)/3)
print(media_geral)

In [ ]:
nota1=5
nota2=5.5
nota3=6
media_geral=((nota1+nota2+nota3)/3)
print(media_geral)

In [ ]:
faturamento=100
custo=60

In [35]:
lucro=faturamento-custo
print(lucro)

40

In [36]:
input("Qual o seu nome?")

Qual o seu nome? Lucas

'Lucas'

In [39]:
nome=input('Qual o seu nome?')

Qual o seu nome? asdadsadasdasd

In [40]:
print(nome)

asdadsadasdasd

In [41]:
faturamento=input('Insira o faturamentno da empresa')
custo=input('Insira o custo da empresa')

Insira o faturamentno da empresa 1000
Insira o custo da empresa 20000