----------------------------------------------------------Tuplas---------------------------------------------------------------------------------------

In [1]:
vendas=('Lira', '25/08/2020', '15/02/1994', 2000, 'Estagiário')
print(vendas)

nome=vendas[0]
data_contratacao=vendas[1]
data_nascimento=vendas[2]
salario=vendas[3]
cargo=vendas[4]

('Lira', '25/08/2020', '15/02/1994', 2000, 'Estagiário')

In [2]:
vendas=('Lira', '25/08/2020', '15/02/1994', 2000, 'Estagiário')
print(vendas)

nome=vendas[0]
data_contratacao=vendas[1]
data_nascimento=vendas[2]
salario=vendas[3]
cargo=vendas[4]

#tentando alterar a posição
vendas[0]='João'

('Lira', '25/08/2020', '15/02/1994', 2000, 'Estagiário')

TypeError: 'tuple' object does not support item assignment

---------------------------------------------------------------------------Unpacking em Tuplas----------------------------------------------------------

In [3]:
vendas=('Lira', '25/08/2020', '15/02/1994', 2000, 'Estagiário')
nome,data_contratacao,data_nascimento,salario,cargo=vendas

print(nome)
print(data_contratacao)
print(data_nascimento)
print(salario)
print(cargo)

Lira
25/08/2020
15/02/1994
2000
Estagiário

In [4]:
vendas=('Lira', '25/08/2020', '15/02/1994', 2000, 'Estagiário')
nome,data_contratacao,data_nascimento,cargo=vendas

ValueError: too many values to unpack (expected 4)

In [9]:
vendas=[1000,2000,300,300,150]
funcionarios=['João','Lira','Ana','Maria','Paula']

for i,item in enumerate(vendas):
    vendas[i]=item
    print(i)
    print(item)

0
1000
1
2000
2
300
3
300
4
150

In [10]:
vendas=[1000,2000,300,300,150]
funcionarios=['João','Lira','Ana','Maria','Paula']

for i,venda in enumerate(vendas):
    print('O funcionário {} vendeu {}.'.format(funcionarios[i],venda))

O funcionário João vendeu 1000.
O funcionário Lira vendeu 2000.
O funcionário Ana vendeu 300.
O funcionário Maria vendeu 300.
O funcionário Paula vendeu 150.

-------------------------------------------------Lista de Tuplas----------------------------------------------------------------------------------------

In [14]:
vendas=[
    ('20/08/2020', 'iphone x', 'azul', '128gb', 350, 4000),
    ('20/08/2020', 'iphone x', 'prata', '128gb', 1500, 4000),
    ('20/08/2020', 'ipad', 'prata', '256gb', 127, 6000),
    ('20/08/2020', 'ipad', 'prata', '128gb', 981, 5000),
    ('21/08/2020', 'iphone x', 'azul', '128gb', 397, 4000),
    ('21/08/2020', 'iphone x', 'prata', '128gb', 1017, 4000),
    ('21/08/2020', 'ipad', 'prata', '256gb', 50, 6000),
    ('21/08/2020', 'ipad', 'prata', '128gb', 4000, 45000),
]

faturamento=0
for item in vendas:
    data,produto,cor,capacidade,unidades,valor_unitario=item
    if produto =='iphone x' and data== '20/08/2020':
        faturamento+=unidades*valor_unitario

print('O faturamento de Iphone no dia 20/08/2020 foi de {}'.format(faturamento))

O faturamento de Iphone no dia 20/08/2020 foi de 7400000

In [15]:
vendas=[
    ('20/08/2020', 'iphone x', 'azul', '128gb', 350, 4000),
    ('20/08/2020', 'iphone x', 'prata', '128gb', 1500, 4000),
    ('20/08/2020', 'ipad', 'prata', '256gb', 127, 6000),
    ('20/08/2020', 'ipad', 'prata', '128gb', 981, 5000),
    ('21/08/2020', 'iphone x', 'azul', '128gb', 397, 4000),
    ('21/08/2020', 'iphone x', 'prata', '128gb', 1017, 4000),
    ('21/08/2020', 'ipad', 'prata', '256gb', 50, 6000),
    ('21/08/2020', 'ipad', 'prata', '128gb', 4000, 45000),
]

faturamento=0
qtde_produto_mais_vendido=0
produto_mais_vendido=''
for item in vendas:
    data,produto,cor,capacidade,unidades,valor_unitario=item
    if data== '21/08/2020':
        if unidades>qtde_produto_mais_vendido:
            produto_mais_vendido=produto
            qtde_produto_mais_vendido=unidades

print('Meu produto mais vendido no dia 21/08/2020 foi o {} com {} unidades'.format(produto_mais_vendido,qtde_produto_mais_vendido))

Meu produto mais vendido no dia 21/08/2020 foi o ipad com 4000 unidades